
.DS_Store
*.vsidx
Image Converter/.vs/ConvertImage/v17/.suo
*.pdb
Image Converter/ConvertImage/obj/Debug/ConvertImage.csproj.AssemblyReference.cache
Image Converter/ConvertImage/obj/Debug/ConvertImage.csproj.FileListAbsolute.txt
Image Converter/ConvertImage/bin/Debug